@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";
@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-palanquin: "Palanquin", sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 40px;
  --text-5xl: 50px;

  --color-primary: #eceeff;
  --color-coral-red: #ff6452;
  --color-slate-gray: #6d6d6d;
  --color-pale-blue: #f5f6ff;
  --color-white: rgba(255, 255, 255, 0.8);

  --shadow-3xl: 0px 10px 40px rgba(0, 0, 0, 0.1);

  --background-image-hero: url("/assets/images/collection-background.svg");
  --background-image-card: url("/assets/images/thumbnail-background.svg");

  --breakpoint-wide: 1440px;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply text-slate-gray max-sm:border-slate-gray border pl-5 text-base leading-normal outline-none max-sm:w-full max-sm:rounded-full max-sm:p-5 sm:flex-1 sm:border-none;
  }
}

@utility padding {
  @apply px-8 py-12 sm:px-16 sm:py-24;
}

@utility padding-x {
  @apply px-8 sm:px-16;
}

@utility padding-y {
  @apply py-12 sm:py-24;
}

@utility padding-l {
  @apply pl-8 sm:pl-16;
}

@utility padding-r {
  @apply pr-8 sm:pr-16;
}

@utility padding-t {
  @apply pt-12 sm:pt-24;
}

@utility padding-b {
  @apply pb-12 sm:pb-24;
}

@utility info-text {
  @apply font-montserrat text-slate-gray text-lg leading-7;
}
